# ignore everthing
/*

# except the following directories
!components/
!config/
!examples/
!external/
!modules/

examples/*
!examples/ble_peripheral/

examples/ble_peripheral/*
!examples/ble_peripheral/ble_app_hrs_freertos/

!.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim swap
*.swp
